.execution-symbol {
  // background-color: aqua;
  height: 22px;
  width: 43px;

  cursor: pointer;

  svg {
    pointer-events: none;
  }
}

.execution-pin:first-child {
  margin-top: 0;
}

.execution-pin {
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 38px;

  margin-top: 5px;

  // background-color: #ca7ec4ab;
  display: flex;

  .label {
    line-height: 38px;
    // do not wrap!!!
    // Otherwise when dragging block to the edge of the window
    // the content tends to wrap and change the whole block width!
    white-space: nowrap;
    // when block reaches the max width, overflow text will be hidden
    overflow-x: hidden;
    
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }

  .execution-symbol {
    position: absolute;
    margin-top: 8px;
  }
}

.left {
  .execution-pin {
    flex-direction: row;
    .label {
      margin-left: 10px;
    }
    .execution-symbol {
      left: -32px;
    }
  }
}

.right {
  .execution-pin {
    flex-direction: row-reverse;
    .execution-symbol {
      right: -35px;
    }
    .label {
      margin-right: 13px;
    }
  }
}

