.input-modal {
  .modal-content {
    flex-direction: column
  }

  .input-description {
    margin-top: 20px;
    color: #BDBDBD;
    font-size: 12px;
    max-width: 200px;
  }

  .input-description:empty {
    margin-top: 0;
  }
 
  .text-field {
    // background-color: rgba(0, 0, 0, 0.1);

    font-size: 18px;
    border-radius: 4px;
    
    height: 32px;

    text-align: left;

    span {
      line-height: 32px;
    }
  }
}
