#mode-button {
  position: absolute;
  top: 20px;
  left: 20px;

  // .control-button disabled all its svg pointer
  // have to enable it manually for mode button
  svg {
    pointer-events: inherit;
  }
}