#control-panel {
  position: absolute;

  bottom: 0;
  right: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  transition: all ease 0.3s;
}

.control-button {
  // make tooltip work
  position: relative;

  width: 100px;
  height: 100px;
  cursor: pointer;

  margin-right: 20px;
  margin-bottom: 20px;

  transition: all ease 0.2s;

  // When checking draging deletion, I only want to
  // get target of the control button, not its svg
  svg {
    pointer-events: none;
  }
}

#bin-button {
  width: 68px;
  height: 68px;
}

#add-actor-button {
  width: 120px;
  height: 120px;
}

#bin-button {
  width: 68px;
  width: 68px;

  margin-right: 50px;
}