.action {
  .title {
    outline: none;
    pointer-events: auto;
    
    -moz-user-select: text;
    -webkit-user-select: text;
    user-select: text;
  }
  
  // place hodler
  .title:empty:before{
    content: attr(placeholder);
    display: block; /* For Firefox */
    color: #CCC;
    cursor: text;
  }
}