.adaptor-selector {
  position: relative;
  border-radius: 16px;
  line-height: 32px;
  
  text-align: center;
  font-size: 16px;
  color: white;

  // center
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 3px;

  overflow-y: hidden;
  max-height: 32px;
  transition: max-height ease 0.3s;

  .adaptor-selector-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    .header-name {
      width: 100%;
      text-align: center;
      margin-left: 16px;
      white-space: nowrap;
    }
  }

  ol {
    list-style-type: none;
    padding: 0;
    margin: 0;

    max-width: 120px;


    margin-left: 12px;

    color: rgb(216, 216, 216);
  }

  li {
    font-size: 11px;

    height: 32px;
    line-height: 32px;

    padding: 0;
    margin: 0;
    white-space: nowrap;

    // margin-left: 16px;
    
    // centre svg
    display: flex;
    justify-content: flex-end;
    align-items: center;

    cursor: pointer;

    span {
      display: block;
      width: 100%;
      text-align: left;
    }

  }
}

.adaptor-selector-icon {
  flex-grow: 0;
  min-width: 32px;
  width: 32px;
  height: 32px;
}

li > .adaptor-selector-icon {
  min-width: 22px;
  width: 22px;
  height: 32px;
  margin-right: 5px;

  visibility: hidden;
}

.selected > .adaptor-selector-icon {
  visibility: visible;
}