.actor-picker {
  display: flex;
  align-items: center;
  flex-direction: row;

  height: 24px;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.15);

  padding-left: 10px;
  padding-right: 5px;

  .text-field {
    background: none;
    user-select: none;
    pointer-events: none;
  }
}