.bar-container {
  width: 80px;
  text-align: center;
  user-select: none;  
  -webkit-tap-highlight-color: rgba(0,0,0,0);



  .range-span {
    position: relative;
    font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: rgb(220, 220, 220);
    text-align: center;

    border: none;
    outline: none;
    background-color: transparent;

    width: 80px;
    top: -20px;

    pointer-events: none;
  }

  .bar-svg {
    width: 70px;
    height: 20px;
    margin-top: 9px;
    margin-left: 3px;
    margin-right: 7px;

    cursor: pointer;
  }
}