.icon-container {
  position: absolute;
  width: 40%;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);

  // Make sure it is below other things...e.g., item
  z-index: 0;

  user-select: none;
}