.base {
  margin-top: 10px;
  background-color: #282b42;
  border-radius: 10px;
  padding-bottom: 8px;
  
  position: relative;
  
  .body {
    min-width: 160px;
    min-height: 140px;

    background-color: #393d5e;
    border-radius: 10px;

    // avoid margin collapse
    display: inline-block;





    // TODO: to be moved into BlockRow.scss
    .a-row:first-child {
      margin-top: 10px;
    }
    
    .a-row {
      margin-top: 5px;
      background-color: rgba(0, 255, 255, 0.342);
      height: 30px;

      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;

      .item {
        flex-grow: 2;
        background-color: #ca7ec4;

        display: flex;
        flex-direction: row;

        .execution-pin {
          position: relative;
          left: -32px;
        }
      }

      .item:nth-child(2) {
        flex-grow: 1;
        // TODO: remove for testing
        margin-left: 5px;

        flex-direction: row-reverse;

        .execution-pin {
          position: relative;
          left: 32px;
        }
      }
    }






  }
}

.base:first-child {
  margin-top: 0;
}