.base {
  background-color: #282b42;
  border-radius: 10px;
  padding-bottom: 8px;
  
  position: relative;
  
  .body {
    // Setting min and max size
    min-width: 160px;
    min-height: 100px;
    max-width: 400px;

    background-color: #393d5e;
    border-radius: 10px;

    // FIXME: find a better way to avoid first margin collapse?
    // avoid margin collapse on first row
    display: inline-block;

    .row-container {
      // Make sure all rows sits on top of the icon.
      position: relative;
      z-index: 1;
    }
  }
}