.color-button {
  position: relative;
  min-width: 80px;
  height: 24px;
  text-align: center;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  user-select: none;  
  
  .color-hex {
    font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: rgb(255, 255, 255);
    text-align: center;

    border: none;
    outline: none;
    background-color: transparent;

    width: 80px;

    // combine with parent postion:relative. vertical centre the text
    position: absolute;
    line-height: 24px;
    height: 24px;
    top: 0;

    pointer-events: none;
  }

  svg {
    cursor: pointer;
  }
}