.color-button {
  position: relative;
  min-width: 91px;
  height: 26px;
  text-align: center;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  user-select: none;  
  
  input {
    font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: rgb(255, 255, 255);
    text-align: center;

    border: none;
    outline: none;
    background-color: transparent;

    width: 91px;

    // combine with parent postion:relative. vertical centre the text
    position: absolute;
    line-height: 26px;
    height: 26px;
    top: 0;

    cursor: pointer;
    // display: block;
    white-space: nowrap;

    opacity: 0;
  }

  svg {
    cursor: pointer;
  }
}