.drop-down {
  margin-top: 9px;
  height: 20px;
  select {
    max-width: 120px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    outline: none;
    border: none;
    line-height: 20px;

    padding-left: 5px;
    padding-right: 5px;

    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(220, 220, 220);

    pointer-events: auto;
    user-select: auto;
  }

  select > option {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
  }
}