// this whole mess is a hack... don't even want to look at it...
.file-button {
  // make file input absolute related to this button
  position: relative;

  min-width: 80px;
  max-width: 80px;

  padding-left: 5px;
  padding-right: 5px;

  border-radius: 13px;
  line-height: 20px;
  height: 20px;
  
  background-color: #2D83BC;
  border: 3px solid #5193BF;

  cursor: pointer;

  // centre svg
  display: flex;
  justify-content: center;
  align-items: center;

  input[type=file] {
    display: none;
    pointer-events: none;
  }

  span {
    color: white;
    font-size: 13px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
  }
}