.input-field {

  width: 100%;

  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.2);

  padding-left: 10px;
  padding-right: 10px;

  input {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;

    color: white;
    text-align: center;
    padding: 0;

    line-height: 24px;
    height: 24px;

    border: none;
    background: none;
    outline: none;

    min-width: 40px;
    width: 100%;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  ::placeholder {
    color: rgb(124, 124, 124);
    font-weight: 100;
  }
}