.position-field {
  display: flex;
  align-items: center;
  flex-direction: row;

  min-width: 110px;
  padding-left: 10px;
  padding-right: 10px;

  height: 24px;
  border-radius: 12px;
  background-color: rgba(133, 133, 133, 0.3);

  input {
    text-align: left;
    color: white;
    font-size: 14px;

    height: 24px;
    line-height: 24px;

    text-align: center;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  span {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;

    text-align: center;
    color: #999999;
    font-size: 14px;

    height: 24px;
    line-height: 24px;
  }

  span:first-child {
    margin-right: 5px;
  }

  span:nth-child(3) {
    margin-left: 5px;
    margin-right: 5px;
  }

  div:last-child {
    position: relative;
    right: -6px;
  }
}