.range-field {
  position: relative;
  min-width: 91px;
  height: 26px;
  text-align: center;
  user-select: none;  
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  // background-color: aqua;

  .range-text {
    font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: rgb(220, 220, 220);
    text-align: center;

    border: none;
    outline: none;
    background-color: transparent;

    width: 91px;

    // combine with parent postion:relative. vertical centre the text
    position: absolute;
    line-height: 26px;
    height: 26px;
    top: 0;

    // pointer-events: none;
  }

  svg {
    cursor: pointer;
  }
}