.range-field {
  position: relative;
  min-width: 91px;
  height: 26px;
  text-align: center;
  user-select: none;  

  // background-color: aqua;

  input {
    font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: rgb(220, 220, 220);
    text-align: center;

    border: none;
    outline: none;
    background: none;

    width: 91px;

    // combine with parent postion:relative. vertical centre the text
    position: absolute;
    line-height: 26px;
    height: 26px;
    top: 0;

    cursor: pointer;
    display: block;
    white-space: nowrap;
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  svg {
    cursor: pointer;
  }
}