.vec2-field {
  display: flex;
  align-items: center;
  flex-direction: row;

  padding-left: 10px;
  padding-right: 10px;

  height: 24px;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.15);

  .input-field {
    border-radius: 0;
    background: none;
    
    input {
      width: 30;
      margin-left: 0;
      margin-right: 0;
    }
  }
  

  span {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;

    text-align: center;
    color: #999999;
    font-size: 14px;

    height: 24px;
    line-height: 24px;
  }

  span:first-child {
    margin-right: 5px;
  }

  span:nth-child(3) {
    margin-left: 5px;
    margin-right: 5px;
  }
}