.text-field {
  width: 100%;

  overflow-x: hidden;
  text-align: center;

  height: 24px;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.2);

  padding-left: 10px;
  padding-right: 10px;

  span {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: white;
    
    line-height: 24px;

    white-space: nowrap;
    min-width: 30px;
    display: block;

    outline: none;

    width: 100%;
    
    overflow-x: hidden;
  }

  // prevent user hit enter to create new line
  span br {
    display: none;
  }

  // prevent user hit enter to create new line
  span * {
    display: inline;
    white-space: nowrap;
  }

  // place holder
  span:empty:before {
    content: attr(placeholder);
    display: block; /* For Firefox */
    color: rgb(124, 124, 124);
    cursor: text;
  }
}