{
  "presets": [
    ["env"],
    "stage-0"
  ],
  "plugins": ["transform-runtime", "transform-export-extensions"],
  "comments": false,
  "env": {
    "test": {
      "presets": ["env", "stage-0"]
    }
  }
}
