.data-pin
{
  font-size:12px;
  // background-color: rgba($color: #ff7b00, $alpha: 0.3);
  user-select: auto;

  .icon {
    position: absolute;
    width:28px;
    height:22px;
    // background-color: rgba($color: #ff7b00, $alpha: 0.3);
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center; 
  }

  .in-connected {
    float: left;
    background-image: url('../assets/connector-on.svg');
  }

  .in-local {
    float: left;
    background-image: url('../assets/connector-local.svg');
  }

  .in-disconnected {
    float: left;
    background-image: url('../assets/connector-off.svg');
  }

  .out-connected {
    float: right;
    background-image: url('../assets/connector-on.svg');
  }

  .out-disconnected {
    float: right;
    background-image: url('../assets/connector-off.svg');
  }

  // .label {
  // }

  input {
    position: absolute;
    font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    float: right;
    font-size:12px;
    // (row height - line height) *0.5
    margin-top: 3px;
    line-height: 16px;
    max-width: 40%;
    margin-left: 4px;
    text-align: center;
    left: 5px;
    visibility: hidden;
    border: none; 
  }

  select {
    position: absolute;
    left: 5px;
    min-width: 50px;
    visibility: hidden;
  }
}