.data-pin
{
  font-size:12px;

  .icon {
    position: absolute;

    width:10px;
    height:10px;
    // margin-right:5px;
    margin-top:3px;
    // margin-left:5px;
    cursor: pointer;
  }

  .in-connected {
    float: left;
    background-image: url('../assets/connector-on.svg');
  }

  .in-disconnected {
    float: left;
    background-image: url('../assets/connector-off.svg');
  }

  .out-connected {
    float: right;
    background-image: url('../assets/connector-on.svg');
  }

  .out-disconnected {
    float: right;
    background-image: url('../assets/connector-off.svg');
  }

  .label {
    margin-right: 3px;
  }

  input {
    font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    float:right;
    line-height:12px;
    font-size:12px;
    width: 30px;
    margin-left:4px;
    margin-top:-2px;
    text-align: center;

    position: absolute;
  }


  select {
    width: 60px;
    height: 20px;
    margin-top: -2px;
    position: absolute;
  }
}