.execution-pin {
  position: absolute;
  width: 50%;

  .icon {
    width:15px;
    height:10px;
    margin-left:3px;
    margin-top:3px;
    cursor: pointer;
    float: right;
  }

  .in-connected {
    background-image: url('../assets/execution-in-on.svg');
  }

  .in-disconnected {
    background-image: url('../assets/execution-in-off.svg');
  }

  .out-connected {
    background-image: url('../assets/execution-out-on.svg');
  }

  .out-disconnected {
    background-image: url('../assets/execution-out-off.svg');
  }

  .label {
    font-size: 12px;
  }
}