#add-actor-button {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 100px;
  height: 100px;
  background-image: url('../assets/add-actor.svg');
  cursor: pointer;
  visibility: hidden;
}