#debug-button {
  position: absolute;
  right: 110px;
  bottom: 20px;
  width: 100px;
  height: 100px;
  cursor: pointer;
  visibility: hidden;
}

.debug-start {
  background-image: url('../assets/start.svg');
}

.debug-stop {
  background-image: url('../assets/stop.svg');
}