.element-control-button {
  position: relative;
  
  width: 32px;
  height: 32px;

  margin-left: 5px;

  background-color: #393D5E;
  border-radius: 2px;

  // centre the child svg
  display: flex;
  justify-content: center;
  align-items: center;

  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  
  cursor: pointer;
}