.base-element {
  .map {
    .text-field  {
      span {
        font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: rgb(231, 231, 231);
      }
      
      width: 100px;
      margin-right: 5px;
  
      ::placeholder {
        color: rgb(139, 139, 139);
        font-weight: 300;
      }
  
      background-color: rgba(0, 0, 0, 0.0);
      transition: background-color 0.3s ease;
    }
  
    .text-field:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
  
    .text-field:focus-within {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }


  .invalid-key-field {
    input {
      color: #de4048;
    }
  }
}