.data-head {
  position: absolute;

  display: flex;

  // rgb = base + (overlay - base)*overlay.alpha
  // alpha = base.alpha + (1-base.alpha)*overlay.alpha
  background-color: rgba(43, 47, 76, 0.94);
  height: 38px;
  min-width: 34px;
}

.item-left {
  .data-head {
    right: 100%;
    // flex-direction: row-reverse;

    border-radius: 19px 0 0 19px;
    
    box-shadow: -5px 0 8px -5px rgba(51, 51, 51, 0.4), 
    0 -5px 8px -5px rgba(51, 51, 51, 0.4), 
    0 5px 8px -5px rgba(51, 51, 51, 0.4);

    // box-shadow:0 -5px 8px -5px rgba(51, 51, 51, 0.4), 
    // 0 5px 8px -5px rgba(51, 51, 51, 0.4);
  }
}

.item-right {
  .data-head {
    left: 100%;
    // flex-direction: row;
    
    border-radius: 0 19px 19px 0;

    box-shadow: 5px 0 8px -5px rgba(51, 51, 51, 0.4), 
    0 -5px 8px -5px rgba(51, 51, 51, 0.4), 
    0 5px 8px -5px rgba(51, 51, 51, 0.4);
  }
}