.data-head {
  position: absolute;

  display: flex;

  background-color: #393d5e;
  height: 38px;
  min-width: 34px;

  .data-svg {
    margin-top: 11px;
  }
}

.item-left {
  .data-head {
    right: 100%;
    // flex-direction: row-reverse;

    border-radius: 19px 0 0 19px;
    
    box-shadow: -5px 0 8px -5px rgba(51, 51, 51, 0.6), 
    0 -5px 8px -5px rgba(51, 51, 51, 0.6), 
    0 5px 8px -5px rgba(51, 51, 51, 0.6);

    .data-svg {
      margin-left: 10px;
    }
  }
}

.item-right {
  .data-head {
    left: 100%;
    // flex-direction: row;
    
    border-radius: 0 19px 19px 0;

    box-shadow: 5px 0 8px -5px rgba(51, 51, 51, 0.6), 
    0 -5px 8px -5px rgba(51, 51, 51, 0.6), 
    0 5px 8px -5px rgba(51, 51, 51, 0.6);

    .data-svg {
      margin-left: 8px;
    }
  }
}