.a-row:first-child {
  margin-top: 12px;
}

.a-row {
  margin-top: 10px;
  // background-color: rgba(0, 255, 255, 0.342);
  height: 38px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .item {
    font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #9e9e9e;
    line-height: 38px;

    // background-color: #ca7ec4ab;
    display: flex;

    // do not wrap!!!
    // Otherwise when dragging block to the edge of the window
    // the content tends to wrap and change the whole block width!
    white-space: nowrap;
    // be careful, as anything has no position absolute will gets hidden if overflow.
    // overflow-x: hidden;
  }

  span {
    user-select: none;
  }

  .execution-svg {
    position: absolute;
    margin-top: 5px;
  }

  .item-left {
    flex-grow: 3;
    flex-direction: row;
    order: 1;

    .execution-svg {
      left: -25px;
    }
    

    span {
      margin-left: 8px;
    }
  }

  .item-right {
    flex-grow: 1;
    flex-direction: row-reverse;
    order: 2;

    .execution-svg {
      right: -28px;
    }

    span {
      margin-right: 8px;
    }

  }
}

.a-row:last-child {
  margin-bottom: 12px;
}