.container {
  // min and max size
  min-width: 110px;
  min-height: 110px;

  // border is 3 pixels, so the raduis will be added 3 extra pixels
  border-radius: 13px;
  // retain the position when selected
  border: 3px solid rgba(0, 0, 0, 0);

  // auto fill available height
  display: flex;

  .base {
    background-color: rgba(22, 25, 49, 0.85);
    border-radius: 10px;
    padding-bottom: 8px;
    
    // TODO: may be remove shaow?
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);

    // auto fill available height
    flex-grow: 1;
    display: flex;
    
    .body {
      background-color: rgba(57, 61, 94, 0.6);
      border-radius: 10px;

      // fill available space
      flex-grow: 1;
      // make container to use flex so child can use flex-grow to fill the 
      // available space
      display: flex;
  
      .content {
        // Make sure all rows sits on top of the icon.
        position: relative;
        z-index: 1;

        padding-top: 10px;
        padding-bottom: 10px;

        // This make content(item) exapand to fill the available height
        // It is useful when manual set block body height
        flex-grow: 1;

        display: flex;
        // left and right item
        flex-direction: row;

        .left {
          flex-grow: 3;
          width: 70%;

          display: flex;
          flex-direction: column;
        }

        .right {
          flex-grow: 1;
          // width: 30%;
          margin-left: 6px;

          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}

.block-selected {
  border-radius: 13px;
  border: 3px solid #fcee21;

  // remove shadow when select outline is shown.
  .base {
    box-shadow: none;
  }
}