.container {
  // border is 3 pixels, so the raduis will be added 3 extra pixels
  border-radius: 13px;
  // retain the position when selected
  border: 3px solid rgba(0, 0, 0, 0);

  .base {
    background-color: rgba(22, 25, 49, 0.85);
    border-radius: 10px;
    padding-bottom: 8px;
    
    // TODO: may be remove shaow?
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
    
    .body {
      // Setting min and max size
      min-width: 110px;
      min-height: 100px;
  
      background-color: rgba(57, 61, 94, 0.6);
      border-radius: 10px;
  
      // FIXME: find a better way to avoid first margin collapse?
      // avoid margin collapse on first row
      // display: inline-block;
  
      .content {
        // Make sure all rows sits on top of the icon.
        position: relative;
        z-index: 1;

        padding-top: 10px;
        padding-bottom: 10px;

        display: flex;
        flex-direction: row;
        

        .left {
          flex-grow: 3;
          max-width: 200px;

          display: flex;
          flex-direction: column;
        }

        .right {
          flex-grow: 1;
          margin-left: 6px;
          max-width: 100px;

          display: flex;
          flex-direction: column;
        }

        .item:first-child {
          margin-top: 0;
        }

        .item {
          font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-size: 12px;
          color: #9e9e9e;
          height: 38px;

          margin-top: 5px;
        
          // background-color: #ca7ec4ab;
          display: flex;

          .label {
            line-height: 38px;
            
            user-select: none;
            overflow-x: hidden;
            // do not wrap!!!
            // Otherwise when dragging block to the edge of the window
            // the content tends to wrap and change the whole block width!
            white-space: nowrap;
          }
        }
        
        .execution-svg {
          position: absolute;
          margin-top: 8px;
        }
        
        .item-left {
          flex-direction: row;
        
          .execution-svg {
            left: -32px;
          }
        
          .label {
            margin-left: 10px;
          }
        }
        
        .item-right {
          flex-direction: row-reverse;
        
          .execution-svg {
            right: -35px;
          }
        
          .label {
            margin-right: 13px;
          }
        }
      }
    }
  }
}



.block-selected {
  border-radius: 13px;
  border: 3px solid #fcee21;

  // remove shadow when select outline is shown.
  .base {
    box-shadow: none;
  }
}