.base {
  background-color: rgba(40, 43, 66, 0.9);
  border-radius: 10px;
  padding-bottom: 8px;
  
  position: relative;
  // box-shadow: 0 0 8px 0px rgba(51, 51, 51, 0.6);
  
  .body {
    // Setting min and max size
    min-width: 140px;
    min-height: 130px;
    max-width: 400px;

    background-color: rgba(57, 61, 94, 0.6);
    border-radius: 10px;

    // FIXME: find a better way to avoid first margin collapse?
    // avoid margin collapse on first row
    display: inline-block;

    .row-container {
      // Make sure all rows sits on top of the icon.
      position: relative;
      z-index: 1;
    }
  }
}