.element-control-button-container {
  // make tooltip work
  position: relative;
}

.base-element {
  background-color: #393D5E;
  margin-top: 10px;
  border-radius: 19px;

  padding-left: 2px;
  padding-right: 5px;

  margin-left: 10px;
  margin-right: 10px;

  border: 3px solid rgba(0, 0, 0, 0);

  .element-content {
    height: 32px;
    line-height: 32px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    // vertical centre fields in the content
    align-items: center;
  
    .element-icon {
      flex-grow: 0;
  
      min-width: 32px;
      width: 32px;
      height: 32px;
  
      // background-color: aqua;
  
      // centre the svg
      display: flex;
      justify-content: center;
      align-items: center;

      user-select: none;
    }
  }
}

.element-selected {
  border: 3px solid #fcee21;
}
