.element-control-button {
  position: relative;
  
  width: 32px;
  height: 32px;

  margin-left: 5px;
  margin-bottom: 5px;

  background-color: #393D5E;
  border-radius: 2px;

  // centre the child svg
  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;
  cursor: pointer;
}

.element-control-button-container:last-child {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  margin-right: 5px;
}