#element-panel {
  position: absolute;

  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;

  top: 0;
  right: 0;
  z-index: 2;

  width: 300px;
  height: 100%;
  background-color: #5D5D8A;
  border-left: 2px solid #242747;

  // TODO: this hides the border when collapsed, maybe use exact pixel value?
  transform: translateX(100%);
  transition: transform ease 0.3s;
}

#element-panel-content {
  padding-top: 40px;
  padding-bottom: 52px;
  height: calc(100vh - 40px - 52px);
  overflow-y: scroll;
}

#pull-button {
  position: absolute;
  background-color: #242747;
  border-right: 2px solid #242747;
  border-radius: 21px 0 0 21px;
  width: 38px;
  height: 42px;

  // vertical centre
  top: 50%;
  margin-top: -18px;

  // centre the child svg
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  
  svg {
    margin-left: 4px;
  }

  transform: translateX(-100%);
  transition: width ease 0.3s;
}

#pull-button:hover {
  width: 50px;
}

#element-panel-title {
  position: absolute;
  z-index: 1;
  color: rgb(255, 255, 255);
  width: 100%;
  line-height: 40px;
  height: 40px;
  text-align: center;

  background-color: rgba(93, 93, 138, 0.8);
}

#element-panel-content {
  width: 100%;
}

#element-panel-control {
  position: absolute;
  z-index: 1;
  
  bottom: 0;

  width: 100%;
  height: 52px;

  // vertical centre 
  display: flex;
  justify-content: flex-start;
  align-items: center;

  background-color: rgba(93, 93, 138, 0.8);
}