.base-element {
  .key-field  {
    text-align: left;
    width: 100px;
    margin-right: 5px;
    input {
      color: #d3d3d3;
      font-size: 14px;

      // background-color: aquamarine;
      height: 24px;

      overflow-x: hidden;
    }

    ::placeholder {
      color: rgb(139, 139, 139);
      font-weight: 300;
    }
  }

  .invalid-key-field {
    input {
      color: #de4048;
    }
  }
}