.text-component {
  color: rgba(0, 0, 0, 1);
  outline: none;
  // background-color: aquamarine;

  // cursor: pointer;
}

.text-component:empty:before {
  font-weight: 300;
  content: attr(placeholder);
  display: block; /* For Firefox */
  color: rgb(175, 175, 175);
  cursor: text;
  // cursor: pointer;
}