.browser-header {
  position: absolute;
  z-index: 3;

  top: 0;
  width: 100%;
  height: 100px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .header-button {
    padding: 20px;

    cursor: pointer;
  }
}