// for hide the scrollbar
.browser-content-scroll-wrapper {
  overflow: hidden;
  position: relative;

  // background-color: rgba(83, 106, 235, 0.774);
}

.browser-content-scroll {
  // offset the content
  --top-gap: calc(94px + 10px);
  --bottom-gap: 50px;
  // offset the y postion so the items does
  // start covered by header section
  padding-top: var(--top-gap);
  // allow extra space to allow user know
  // it is the end of the scroll
  padding-bottom: var(--bottom-gap);
  // The actual scrollable height will be window.innerHeight - the gaps.
  height: calc(100vh - var(--top-gap) - var(--bottom-gap));
  
  // Change this to hide the scrollbar
  // https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll
  padding-right: 17px;
  width: 100%;
  overflow-y: scroll;
}

.browser-content {
  // centre
  max-width: 1024px;
  margin: 0 auto;

  // background-color: rgba(167, 61, 119, 0.603);
}

.browser-content:empty:before {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  content: attr(placeholder);
  display: block; /* For Firefox */
  color: rgb(201, 201, 201);
  text-align: center;
}


// hide scroll bar
::-webkit-scrollbar {
  display: none;
}
