// box contains the actual dummy block
.grid-box {
  background-color: rgba(177, 247, 242, 0.171);
  
  // https://stackoverflow.com/questions/283961/centering-a-div-block-without-the-width
  display: flex;
  flex-wrap: wrap;
}

.dummy-block {
  // override absolute position
  position: relative !important;
  
  // horizontal center the block
  margin-left: auto; 
  margin-right: auto; 
}