// box contains the actual dummy block
.grid-box {
  // background-color: rgba(177, 247, 242, 0.171);
  
  // https://stackoverflow.com/questions/283961/centering-a-div-block-without-the-width
  display: flex;
  flex-wrap: wrap;
}

.dummy-block
{
  // override absolute position
  position: relative;
  // horizontal center the block
  margin-left: auto; 
  margin-right: auto; 

  cursor: pointer;
  user-select:none;
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dummy-title {
  color: rgb(255, 255, 255);
  padding:5px 10px;
  text-align: center;
}

.dummy-content {
  // min-width: 120px;
  // min-height: 30px;
  padding-top: 6px;
  padding-bottom: 6px;

  background:rgba(57, 61, 94, 0.8);
  color: rgb(245, 245, 245);
  border-radius: 12px;    
  border: 2px solid rgba(99, 99, 99, 0.0);
  box-shadow: 0 0 5px rgba(51, 51, 51, 0.521);

  .dummy-row { 
    // background-color: rgba($color: #a53583, $alpha: 0.3);
    line-height: 22px;
    height:22px;
    width: 100%;
    margin-top:1px;
    margin-bottom:1px;
  }
}


.hit-area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 0;
}

