.puppet-box {
  // background-color: aqua

  flex-direction: column;

  .box {
    position: relative;
    
    width: 120px;
    height: 120px;
    border-radius: 5px;

    background-color: rgba(255, 255, 255, 0.1);
    
    .thumbnail {
      width: calc(100% - 20px);
      height: calc(100% - 20px);
      margin: 10px;
    }
  
    cursor: pointer;
  }

  span {
    font-size: 18px;
    color: white;
    margin-top: 15px;
  }
}