.search-section {
  height: 50px;
  
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  

  // background-color: rgba(59, 29, 29, 0.5);
}

.search-input {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 26px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px; 
  border-radius: 22px;
  min-width: 200px;

  position: absolute;
  text-align: left;

  color: rgb(19, 34, 58);
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.801);

  pointer-events: auto;
}