.name-field {
  flex-grow: 1;

  height: 24px;
  border-radius: 0;
  background: none;

  margin-left: 3px;

  input {
    text-align: left;
    color: white;
    font-size: 18px;
  }
}

// padding if the variable name input will be touching the right edge of the variable item
.name-field:last-child {
  padding-right: 10px;
}