#variable-panel {
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;

  position: absolute;
  top: 0;
  right: -280px;
  z-index: 2;

  width: 280px;
  height: 100%;
  background-color: #5D5D8A;
  border-left: 2px solid #242747;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#variable-panel-content {
  margin-top: 30px;
  overflow-y: scroll;
}

#pull-button {
  position: absolute;
  background-color: #242747;
  border-right: 2px solid #242747;
  border-radius: 19px 0 0 19px;
  width: 38px;
  height: 36px;
  left: -40px;
  top: 32px;

  // centre the child svg
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  
  svg {
    margin-left: 4px;
  }
}

#variable-panel-title {
  position: absolute;
  color: rgb(255, 255, 255);
  width: 100%;
  line-height: 30px;
  top: 5px;
  text-align: center;
}

#variable-panel-content {
  width: 100%;
}

#variable-panel-control {
  // background-color:chartreuse;
  margin-top: 10px;
  width: 100%;
  height: 30px;

  flex-grow: 1;
  align-items: flex-end;

  display: flex;
  flex-direction: row;
}