.variable-element {
  background-color: #393D5E;
  margin-top: 10px;
  border-radius: 19px;

  margin-left: 10px;
  margin-right: 10px;

  border: 3px solid rgba(0, 0, 0, 0);

  .variable-element-content {
    height: 32px;
    line-height: 32px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  
    .variable-icon {
      flex-grow: 0;
  
      min-width: 32px;
      width: 32px;
      height: 32px;
  
      margin-left: 3px;
  
      // background-color: aqua;
  
      // centre the svg
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.variable-element-selected {
  border: 3px solid #fcee21;
}
