#tutorial-cursor {
  position: absolute;

  top:-60px;
  left:-60px;

  width: 120px;
  height: 120px;

  z-index: 6;

  pointer-events: none;
  
  opacity: 0;
  transition: opacity ease 0.3s;
  transition: transform ease 1s;
  
  svg {
    position: absolute;
  }
}

#tutorial-pointer {
  position: absolute;

}