.variable-value {
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;

  height: 24px;
  border-radius: 12px;
  background-color: rgba(133, 133, 133, 0.3);

  margin-top: 4px;
  margin-right: 4px;
  margin-left: 5px;

  input {
    text-align: left;
    color: white;
    font-size: 14px;
  }
}