.box-component {
  position: absolute;
  // display: flex;
  // flex-direction: column;

  .image {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: 100%;
      // object-fit: contain;
      border-radius: 10px;
    }
  }

  .label {
    position: relative;
    // top: -100%;
    transform: translateY(-100%);
    bottom: 20px;

    font-size: 16px;
    line-height: 20px;

    color: rgb(0, 0, 0);
    outline: none;
    overflow: hidden;
    text-align: center;

    padding: 5px;
    margin: 10px;

    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .label:empty:before {
    font-weight: 300;
    content: attr(placeholder);
    display: block; /* For Firefox */
    color: rgb(63, 63, 63);
    cursor: text;
  }
}

