.box-component {
  display: flex;
  flex-direction: column;

  // background-color: rgba(215, 223, 250, 0.664);

  .image {
    flex-grow: 2;

    margin-top: 10px;
  }

  .label {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: rgba(0, 0, 0, 1);
    outline: none;
    overflow: hidden;
    text-align: center;

    margin: 10px;
  }
  
  .label:empty:before {
    font-weight: 300;
    content: attr(placeholder);
    display: block; /* For Firefox */
    color: rgb(175, 175, 175);
    cursor: text;
  }
}

