.grid-box {
  // centre whetever inside...
  display: flex;
  justify-content: center;
  align-items: center;

  // // retain the position when selected
  border: 3px solid rgba(0, 0, 0, 0);
}

.grid-box.tutorial-indicator {
  border-radius: 13px;
  border: 3px solid #ffee00;
  

  animation: indicationAnimation 1s infinite;
  -webkit-animation: indicationAnimation 1s infinite; 

  animation-direction: alternate;
  -webkit-animation-direction: alternate;
}

@keyframes indicationAnimation
{
  0%   {border-color: #ffee00;}
  100% {border-color: #ffee0060;}
}

/* Safari and Chrome - necessary duplicate */
@-webkit-keyframes indicationAnimation 
{
  0%   {border-color: #ffee00;}
  100% {border-color: #ffee0060;}
}