.search-field {
  position: relative;
  // right side has no icon, I manully offset it
  left: -34px;

  min-width: 300px;
  width: 25vw;
  max-width: 55%;

  height: 32px;
  line-height: 32px;

  border: 4px solid white;

  padding-left: 11px;
  padding-right: 10px;
  
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  // vertical centre fields in the content
  align-items: center;

  border-radius: 22px;
  background-color: #d9e021;

  input {
    font-size: 24px;
    width: 100%;

    margin-left: 10px;

    color: rgb(255, 255, 255);
    border: none;
    outline: none;
    background: none;

    pointer-events: auto;
  }

  input::placeholder {
    color: #eef357;
    font-weight: 300;
  }
}

@media screen and (max-width: 600px) {
  .search-field {
    min-width: 55%;
  }
}