body {
  margin:0; 
  // background-color:#151515;
  background-color:#eeeeee;
  overflow:hidden;
}

#app {
  // disable text selection.(Input will override it)
  user-select: none;
}

#activity-id {
  position: absolute;
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 26px;
  color: rgb(218, 218, 218);
  top: 10px;
  right: 20px;
  cursor: pointer;
}

#app-version {
  position: absolute;
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  color: rgb(175, 175, 175);
  bottom: 3px;
  left: 3px;
  user-select: none;
}