body {
  margin:0; 
  // background-color:#151515;
  background-color:#eeeeee;
  overflow:hidden;
}

#add-actor {
  position: absolute;
  right: 40px;
  bottom: 40px;
  width: 100px;
  height: 100px;
  background-image: url('./assets/add-actor.svg');
  cursor: pointer;
}