<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="description" content="Make your own puppet and story with the power of programming.">

    <!-- stop reszing -->
    <meta name="viewport" content="width=device-width, initial-scale=0.8, user-scalable=0">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Android manifest -->
    <link rel="manifest" href="/manifest.json"/>
    <meta name="theme-color" content="#505f97">

    <!-- iOS -->
    <!-- Hide safari user interface -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Home screen icons -->
    <link href="/ios-192.png" rel="apple-touch-icon" type="image/png">
    <!-- launch screen -->
    <link rel="apple-touch-startup-image" href="/ios-192.png">
    <!-- Launch icon title -->
    <meta name="apple-mobile-web-app-title" content="Puppet & Brain">

    <!-- favicon -->
    <link rel="icon" type="image/png" href="/android-4x.png"/>

    <title>Puppet and Brain</title>

    <!-- default background color reduce flickering white loading -->
    <style>
      body {
        background-color: #505f97;
      }
    </style>

    <!-- only production site has google analytics -->
    <% if (htmlWebpackPlugin.options.env.target === 'production') { %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115062643-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-115062643-1');
      </script>
    <% } %>
  </head>
  <body>
    <noscript>
      <div>You have to <a ref="https://www.enable-javascript.com/">enable JavaScript</a> on this device to view the content.</div>
    </noscript>
    <div id="app"></div>
    
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenLite.min.js"></script>
    <script>
      (function(d) {
        var config = {
          kitId: 'mob0ykg',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>
  </body>
</html>