body {
  margin:0; 
  // background-color:#151515;
  background-color: #eeeeee;
  overflow: hidden;
}

#app {
  // disable text selection.(Input will override it)
  user-select: none;
}

#activity-id {
  position: absolute;
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 26px;
  color: rgb(218, 218, 218);
  top: 10px;
  right: 20px;

  cursor: pointer;
  user-select: none;
}

#app-version {
  position: absolute;
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  color: rgb(175, 175, 175);
  bottom: 3px;
  left: 3px;
  
  user-select: none;
  pointer-events: none;
}

.blur {
  filter: blur(3px);
}

#debug-trace {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  position: absolute;
  top: 10px;
  left: 10px;
  user-select: none;
  pointer-events: none;
  color: rgb(255, 109, 236);
  width: 300px;
  height: 300px;

  overflow: hidden;
  z-index: 2;
}


#undo-button {
  position: absolute;
  user-select: none;
  cursor: pointer;
  z-index: 2;
  bottom: 20px;
  left: 20px;
  width: 100px;
  height: 100px;

  background-repeat: no-repeat;
  background-position: center; 
}

#redo-button {
  position: absolute;
  user-select: none;
  cursor: pointer;
  z-index: 2;
  bottom: 20px;
  left: 120px;
  width: 100px;
  height: 100px;


  background-image: url('./assets/redo-arrow.svg');
  background-repeat: no-repeat;
  background-position: center; 
}

#at {
  position: absolute;
  user-select: none;
  // cursor: pointer;
  z-index: 1;
  top: 10px;
  left: 10px;
  width: 40px;
  height: 40px;

  background-image: url('./assets/at.svg');
  background-repeat: no-repeat;
  background-position: center; 
}

// disable drag DOM element selection!!! 
span {
  user-select: none;
}
svg {
  user-select: none;
}
div {
  user-select: none;
}